.brand-logo1 .swiper-slide .brand-logo-image img , .brand-logo2 .swiper-slide .brand-logo-image img{
  width: 110px;
  max-width: 110px;
}
@media (max-width: 749px){
.brand-logo1 .swiper-slide .brand-logo-image img , .brand-logo2 .swiper-slide .brand-logo-image img{
  width: 100%;
  height: 60px;
}
}

.brand-logo-media-block .swiper-slide{
  background: transparent;
}

/* Brand logo Section Diwali Code */

.template-product-product-nitro .brand-logo1 .swiper-slide .brand-logo-image img, .template-product-product-nitro .brand-logo2 .swiper-slide .brand-logo-image img{
  width: 75px;
  max-width: 75px;
  height: 75px;
}

