 .tab-container {
  position: relative;
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  justify-content: center;
}

.tab-button {
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  background-color: #000000;
  cursor: pointer;
  color: #ffdb03;
  position: relative;
  z-index: 1;
  font-family: var(--font-heading-family);
  transition: 0.3s all linear;
  border-radius: 3px;
}
.tab-button:hover{
  background-color: #ffdb03;
  color: #000000;
}
.tab-button.active {
  background-color: #ffdb03;
  border-radius: 3px;
  color: #000000;
}

.tab-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #f19CDA;
  transition: width 0.3s, left 0.3s;
  border-radius: 20px;
}

.tab-container.second .tab-background {
  background-color: cyan;
}

.ta-tab-item {
  display: none;
}

.ta-tab-item.active {
  display: block;
}

@media (max-width: 440px){
  .tab-button{font-size: 16px;}
}