 .main.team-section{
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
   }
  .team-block{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-top: 20px;
  }
   .profile-card{
     position: relative;
     width: auto;
     height: 310px;
     background: #ffffff;
     padding: 30px;
     border-radius: 50%;
     box-shadow: 0 0 22px #3336;
     transition: .6s;
   }
   .profile-card:hover{
     border-radius: 10px;
     height: 310px;
   }
   .profile-card .img{
     position: relative;
     width: 100%;
     height: 100%;
     transition: .6s;
     z-index: 99;
   }
   .profile-card:hover .img{
     transform: translateY(-60px);
   }
   .main.team-section .img img{
     width: 250px;
     height: 250px;
     border-radius: 50%;
     box-shadow: 0 0 22px #3336;
     transition: .6s;
   }
   .profile-card:hover img{
     border-radius: 10px;
   }
   .caption{
     text-align: center;
     transform: translateY(-80px);
     opacity: 0;
     transition: .6s;
   }
   .profile-card:hover .caption{
     opacity: 1;
   }
   .caption h3{
     font-size: 21px;
     margin: 28px 0 0 0;
   }
   .caption p{
     font-size: 15px;
     margin: 2px 0 9px 0;
   }
   .caption .social-links a{
     margin-right: 15px;
     font-size: 21px;
     transition: .6s;
   }
   .social-links a:hover{
     color: #0c52a1;
   }